html, body {
    margin: 0;
    padding: 0;
    background-color: darkgreen;
}

.board {
    background-color: crimson;
    grid-area: board;
    display: flex;

    align-self: center;
  justify-self: center;
}

.containerGridMainLayout {
    justify-content: center;
    align-items: center; 
    display: grid;
    width: 70%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "board board next next"
        "board board next next"
        "board board other other"
        "board board other other";
}

.viewBoard {
    width : calc(10 * 40px);
    height : calc(20 * 40px);
    background-color: rgb(139, 82, 94);
}

.containerBoard {
    background-color: darkgreen;
    
    display: flex;
    flex-direction: column;
}

.containerBoard > div {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;

    background-color: bisque;
}

.containerBoard > div > div {
    
    width : 40px;
    height : 40px;
    background-color: aquamarine;
}

.nextTetri {
    background-color: cadetblue;
    grid-area: next;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewNextTetri {
    width : calc(20 * 10px);
    height : calc(20 * 10px);
    background-color: rgb(139, 82, 94); 
}

.otherPlayersBoards {
    background-color: coral;
    grid-area: other;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.otherPlayersBoards {
    background-color: coral;
    grid-area: other;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.otherPlayersBoards > div {
    background-color: darkgoldenrod;
    margin : 8px;
}



.cyan {
    background-color: rgb(9, 194, 194) !important;
}

.blue {
    background-color: blue !important;
}

.orange {
    background-color: orange !important;
}

.yellow {
    background-color: yellow !important;

}

.purple {
    background-color: purple !important;
}

.green {
    background-color: chartreuse !important;
}

.red {
    background-color : red !important;
}