html, body {
    margin: 0;
    padding: 0;
    background-image: url('./img/pexels-suzy-hazelwood.jpg');
}


main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    background-color: bisque;

    margin: 0 auto;
    bottom: 10%;
}

section {
    padding : 16px;
}

section > div {
    border : 0.1rem solid;
    margin : 16px;
    padding : 8px;
}

.containerMap {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    border: 0.1rem solid;
}

.containerMap > div {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;

    background-color: bisque;
}



.containerMap > div > div {
    border-radius : 25%;   
    border : 0.1rem solid;
    height : 30px;
    width : 30px;
    background-color: aquamarine;
}

.containerSpectrumPlayer > div {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;

    background-color: bisque;
}

.containerSpectrumPlayer > div > div {
    border-radius : 25%;   
    border : 0.1rem solid;
    height : 10px;
    width : 10px;
    background-color: aquamarine;
}
.title {
    border: 0.2rem solid;
    padding: 8px 16px;
}

.containerNextTetri {
    padding: 1rem;
    border: 0.1rem solid;
}

label{
    padding-left: 5px;
    padding-right: 5px;
    position:relative;
    top:-22px;
    left:10px;
    background-color: bisque;
}


.cyan {
    background-color: rgb(9, 194, 194) !important;
}

.blue {
    background-color: blue !important;
}

.orange {
    background-color: orange !important;
}

.yellow {
    background-color: yellow !important;
}

.purple {
    background-color: purple !important;
}

.green {
    background-color: chartreuse !important;
}

.red {
    background-color : red !important;
}